
<div class="container">
    <h1    style= "text-align: center;"> Completed Coverage </h1>

    <form action="/scripts" method="get">
        <div class="input-field col s12">
        <select name="filter">
        <option value="" disabled selected>Filter by Writer</option>
        <% Script.all_writers.each do |writer| %>
        <option value="<%= writer %>"><%= writer %></option>
        <% end %>
        </select>
        </div>
        <input type="submit" value="Filter" class="btn green darken-4">
    </form>

        <table class="responsive-table">
            <tr>
                <th> Title </th>
                <th> Writer(s)</th>
                <th> Date Read </th>
                <th> Recommendation </th>
                <th> Notes </th>
            </tr>

            <tr>
            <% @scripts.each do |script| %>
                <td><a href="/scripts/<%= script.id %>"   > <%= script.title %></a> </td>
                <td> <%= script.writer %> </td>
                <td> <%= script.date %> </td>
                <td> <%= script.rec %> </td>
                <td> <%= script.notes %> </td>
            </tr>
            <% end %>
        </table>
    </div>

    <script>
        $(document).ready(function(){
            $('select').formSelect();
        });
    </script>