
<div class="container">
    <h1    style= "text-align: center;"> Completed Coverage </h1>
    <p>Recently Viewed: <%= @script ? @script.title : "Haven't viewed any scripts." %></p>
        <table class="responsive-table">
            <tr>
                <th> Title </th>
                <th> Writer(s)</th>
                <th> Date Read </th>
                <th> Recommendation </th>
                <th> Notes </th>
            </tr>

            <tr>
            <% @scripts.each do |script| %>
                <td><a href="/scripts/<%= script.id %>"   > <%= script.title %></a> </td>
                <td> <%= script.writer %> </td>
                <td> <%= script.date %> </td>
                <td> <%= script.rec %> </td>
                <td> <%= script.notes %> </td>
            </tr>
            <% end %>
        </table>
    </div>